<HEAD><META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <TITLE>
    Prole.in
  </TITLE>
  <LINK href="/prole.css" rel="stylesheet" type="text/css">
  <SCRIPT src="/jquery.js" type="text/javascript"></SCRIPT>
</HEAD><BODY>
  <DIV id="container">
    <DIV id="title">
      <H1>
        <A href="http://prole.in/">
          <IMG src="/site-images/prole.png" style="background: transparent; border: 0px solid black;">
        </A>
      </H1>
      <DIV id="nav">
        <A href="/about">
          <SPAN class="cap">a</SPAN>
          bout
          |
        </A>
        <A href="/blog">
          <SPAN class="cap">b</SPAN>
          log
          |
        </A>
        <A href="http://github.com/svs">
          <SPAN class="cap">c</SPAN>
          ode
        </A>
      </DIV>
    </DIV>
    <DIV id="content">
      <% if @title %>
        <h1><%= @title %></h1>
      <% end %>	
      <%= @outout || yield %>
    </DIV>
    <DIV id="bottom"></DIV>
  </DIV>

</BODY>
</HTML>
