31 May 2010

I nominate "top kill" as the latest word/phrase to enter the English lexicon. If only it didn't come loaded with connotations of utter failure, it might actually make it to the Oxfird list next year.