body {
  font-family: Baskerville;
  font-size: 18px;
  margin: 4px;
  padding: 0px;
  background: url(/site-images/background-red.jpg);
}

a {
  color: black;
}

#header {
  width: 100%;
  height: 60px;
}

#header img {
  position: absolute;
  right: 10px;

}
a:hover {
  text-decoration: underline;
}
#left-container {
  float: left;
  width: 10px;
}

#main-container {
  float: left;
  width: 74%;
  min-height: 600px;
  text-align: justify;
  position: relative;
  top: 50px;
  background:url(/site-images/bigpaper.jpg);
  color: black;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#body {
  padding: 20px;
  min-height: 400px;
  line-height: 1.5em;
  margin-top: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#body a {
}
#body a:hover {
  background: #90251b;
  text-shadow: 0 2px 3px #333;
  color: white;
}
#right-container {
  float: left;
  width: 22%;
  margin-left: 35px;
  position: relative;
  top :-125px;
}


#header h1 {
  font-family: Georgia;
  text-align: right;
  letter-spacing: -0.07em;
  font-size: 55px;
  color: white;
  text-shadow: 0 2px 3px #333;
}
#header h1 {
  font-size: 80px;
  margin: 0px;
  font-weight: 400;
  margin-right: 35px;
}

#nav {
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 15px;
  text-align: left;
  background: #c40000;
  color: white;
  height: 21px;
}

#nav a {
  text-decoration: none;
  color: white;
}

#kun {
  position: absolute;
  top :4px;
  right: 0px;
  background: url(/kun.png) no-repeat;
  z-index: 10;
  width: 280px;
  height: 125px;
}

#entries {
  font-size: 24px;
}

#entries a {
  text-decoration: none;
  background: url(/site-images/paper.jpg);
  line-height: 1.8;
  margin: 10px;
  padding: 5px;
}


#entries a:hover {
  background: #90251b;
  color: white;
  text-shadow: 0 2px 3px #333;
}
