body {
  font-family: Palatino, "Times New Roman", "Lucida Sans", Verdana;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}
a {
  text-decoration: none;
  color: #026d80;
}
#title h1 { text-shadow: 2px; }
#title h1 a {
  text-decoration: none;
  color: #fc4303;
}
#content {
  margin: 20px;
  padding: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 5px 2px 2px white;
}
h1 {
  font-family: Georgia;
  font-size: 3em;
}
h2 { font-size: 2em; }
ul, li { list-style-type: circle; }
