22 Dec 2009

h3. James Cameron knocks the ball out of the park

!{float:left}http://www.shockya.com/news/wp-content/uploads/avatar_james_cameron_guy.jpg!
My God what a great film. Spectacular! With proletarian sympathies to boot. 