15 Mar 2010

From the DNA Newspaper, we learn that there will be "dedicated corridors for choppers in Mumbai and Delhi":http://www.dnaindia.com/mumbai/report_choppers-will-zip-past-in-sky-soon_1355409. It *is* nice to know that the government is doing something to ease the plight of those "chopper-hopping corporate honchos and business tycoons in Mumbai". It is even more heartening to know that India is making progress, that now certain citizens can actually afford the Rs. 5000 ride from the suburbs to downtown. Politicians, industrialists and film stars need no longer sweat it out in traffic jams amongst the proles, with their chapped hands and sweaty nightcaps. Of course, with the market economy and capitalism full steam ahead, it is only a matter of time until all citizens can just take the chopper to the mall. Perhaps that is the reason that the roads have fallen into such disrepair. Why repair things that no one will need to use once we're all rich?

According to the spoilsports at "stophelipad.org":http://stophelipad.org, these choppers are noisy. So noisy they say that it can knock stuff of shelves and shatter glass. 

!http://stophelipad.org/images/helicopter_sound_chart_small.jpg! 

Well, it looks like the denizens of Dindoshi are just going to have to take this one up the arse then. Can't let a few poor people get in the way of progress can we? After all, if they worked a bit harder and weren't so stupid then they could ride the choppers too.