
A democracy is a political entity that is governed according to the will of the majority. This actually consitutes two separate things - the governance is one. Finding the will of the majority is the other.
