28 3 2010

Some friends of mine are currently engaged in a phenomenal adventure of a lifetime - flying paragliders from billing in himachal Pradesh to Pelling in Sikkim, a distance of about 1600 kms. You can follow their adventures at "their website":http://himalayanodyssey.com and you can check out a fresh set of pictures that will make you green with envy "over here":http://picasaweb.google.com/himodc/HimalayanOdysseyExpedition201002?authkey=Gv1sRgCJH_r42A9PK_ggE&feat=flashalbum#