28 Mar 2010

Some friends of mine are currently engaged in a phenomenal adventure of a lifetime - flying paragliders from Billing in himachal Pradesh to Pelling in Sikkim, a distance of about 1600 kms. They're currently a little more than halfway, approaching Pokhara in Nepal. You can follow their adventures at "their website":http://himalayanodyssey.org and you can check out a fresh set of pictures that will make you green with envy "over here":http://picasaweb.google.com/himodc/HimalayanOdysseyExpedition201002?authkey=Gv1sRgCJH_r42A9PK_ggE&feat=flashalbum

Here's a small sample
!http://lh6.ggpht.com/_lqYl33mXoz4/S60LTTK3F2I/AAAAAAAAAI4/SEPMMNZ2Q2k/s640/P1060632.JPG!
!http://lh5.ggpht.com/_lqYl33mXoz4/S60MgZcuniI/AAAAAAAAALU/Vsnw53R3M5g/s640/P1060782.jpg!