13 Jun 2010

Each morning same story. 

Wake up. Cock an eye at the clock. 
Panic, then realise its not late at all, close eyeszzz.z....zzz..... Open eyes, panic! 

It's late! Rush, rush, brush, flush. 
Pack laptop, pop tap locks, take helmet and bike 
  past fellows well met but who I don't like, 
  out the door and into the street, 
      automatic doors slide aside and 
  introduce you to the heat. 

  H E A T. 

Murder by degrees as one rides, 
  alert and watchful with eagle eyes 
  and bat ears to hear the shush, 
    the whispered breath 
    of approaching death 
  in the form 
  of a mom 
    and Huey, Dewey and Louie 
    in a big fuckoff SUV, 
keeping cool on the way to school. 

Sandwiches and traffic jams, 
  well behaved commuters mutter into cellphones that flip 
    and clack back with a whack. 
Fast talking radio show hosts 
  honor the ghosts 
    of the dead in Iraq. 
  Bluetooths blip plaints and curses through thin air, 
  the vapour pulses with despair. 
A woman walks across the parking lot. 
    She is black. 

Off the road and cutting short 
  through the parking lot 
  of the Nassau Coliseum (sic). 
Acres of tarmac with the odd car parked, 
  baking, the arena with names not its own 
  (but not on loan) 
  shimmers in a grey and white-lined bleak heat. 
  Freak street! 

Fast cars blur 
  the final curve, 
the glass and steel mousewheel 
  towers above. 
  The office. Cool elevators serve rides and propaganda, 
  dinging the floors to the top. 
  Below, the freeway races non-stop, 
    like bubbles in a pipe. 
    Inside the blue light nothing seems right. 
    I wish I could disappear, 
    drop out of sight and just be by your side. 

And thats just how it starts.