20 Apr 2010

!http://www.marriedtothesea.com/022310/i-hate-thinking.gif!

<blockquote>
Perfectly formal systems of thought, such as logic and mathematics, seem the most rigorous, and have served as the guiding light for all other forms of thinking. But there's a problem.

The problem is that formal systems don't work. They have internal consistency, to be sure, and they can do all sorts of amusing tricks, but they don't map onto reality in a way that isn't essentially an act of violence. 
</blockquote>

The rest is "here":http://cluborlov.blogspot.com/2010/04/great-unreasoning.html