Remote: origin git@github.com:svs/blog.git
Local:  master ~/blogs/prole.in/
Head:   86da9b4 del

Untracked files:
	feed.xml
	views/posts/#Population.haml#
	views/posts/.#Population.haml
	views/posts/images/index.php

Stashes:
0: WIP on master: 20b5db2 img
1: WIP on master: 7134179 disqus tv

