17 Jul 2010
!{float:left}http://www.loftcinema.com/files/fight%20club4.jpg!

h2. warning - crazy shit ahead

I think this is the post where people figure I am fit for the madhouse so it is fitting we start with the pre-eminent psycho-analyst of our time, Freud, who said - and was reprised by Tyler Durden - that 'soap is the yardstick of a civilisation'. I have some recent evidence that this just might be true.

Civilisation it seems consisting of increasing ones private property by creating a need where none exists, creating the solution to this need (even better if this solution creates the need for its own continued use) and exploiting the maximum number of people in the process. For example the entire fashion industry works on just such whimsy of rich people, created by the relentless parading of images designed to cause desire which is fulfilled by adolescent Vietnamese girls in sweatshops. 

Many years ago, a hippie told me that one of the best examples of a product like this was shampoo. All hair needed, he said, was the occasional touch of soap. "Keep them short, keep them clean and you'll be fine." Taking his advice, I stopped using shampoo, even though I'd been plagued all my life by a recurrent dandruff problem. Out trekking, no shower for 2 days, dandruff. Run out of shampoo, too busy to buy, two days pass, dandruff. Said hippie had warned me that the transition would be traumatic and that I needed to find a secluded place to perform this act in. The little commune in Panchgani was full of smelly hippies anyway, so I wasted no time starting. For a week or so, my scalp went nuts. I thought my whole head would flake away and die. I entertained the idea that I had been taken for a ride by my friend Richard, but the evidence was there. Another hippie there had these wonderful dreadlocks and when I asked him what was to be done to get them he replied - nothing. Nothing? Not a damn thing. Just don't allow any soap or water to get anywhere near your hair and pretty soon you'll have dreads. They didn't smell or nothing either. So, I persisted and a few days later - all quiet topside. No itching. No dandruff. Nada. I was shampoo free. I fell down laughing. Lather, rinse, repeat? What a fucking joke. Now i know why they call it conditioner. It conditions your scalp to keep needing more...

I wonder what it was that prevented me from going whole hog that time, but it wasn't until about ten days ago that "this post":http://aadivaahan.wordpress.com/2010/06/30/snake-eyes/ gave me the idea to quit soap entirely. It's been over two weeks now and the wife hasn't even noticed any change. I feel fine. I smell fine. I have no skin infection or anything. For the record, I've never smelt better. I used to need loads of deos and stuff (yuck, the stuff, those icky sprays and the underarm wipes and what not....) Infact, funny things are happening. The skin is smoother, less dry. And the little gunks of dirt that would always collect around my toes and under the ankle bone - gone. Dirt doesn't stick to the skin anymore. My light towel dries me perfectly because it doesn't slick up with emulsifying agents. The scalp, conditioned to the soap, is going through the same withdrawal symptoms, but I've seen this movie before. It's going to be fine. I can bathe in half bucket of water.

I feel as though scales have dropped from my eyes.

Soap is, of course, the spreader of civilisation. We have all seen what civilisation is - the manufacture of useless products to amass property, the exaltation of the artificial over the natural and the creation of an "other", always, against which to measure refinement and modernity. Industrial society is one giant sham. You do not need it.

Some additional tit-bits
"A Brief History of Soap":http://mywretchedconsciousness.wordpress.com/2008/10/10/a-brief-history-of-soap/
"The Selling of Culture, and Our Souls: From Pears' Soap to Bud-Weis-Er":http://www.solidarity-us.org/current/node/1824
"So Clean: Lord Leverhulme, Soap and Civilization":http://www.timeshighereducation.co.uk/story.asp?storyCode=407605&sectioncode=26